cython==0.29.35
dataclasses==0.8
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
django==4.1
dnspython==1.16.0
easyocr==1.7.0
entrypoints==0.4
executing==0.8.3
fftw==3.3.9
filelock==3.12.2
flask==1.1.2
flatbuffers==2.0.0
fonttools==4.36.0
freeglut==3.2.2
freetype==2.12.1
frozenlist==1.2.0
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
gdown==4.7.1
giflib==5.2.1
google-auth-oauthlib==1.0.0
google-auth==2.17.3
google-pasta==0.2.0
grpcio==1.54.0
h5py==3.7.0
hdf5==1.10.6
humanfriendly==10.0
icc_rt==2019.0.0
icu==68.1
idna==3.3
imageio==2.28.1
importlib-metadata==4.11.3
intel-openmp==2021.4.0
ipykernel==6.9.1
ipython==8.4.0
ipython_genutils==0.2.0
itsdangerous==2.0.1
jasper==2.0.33
jax==0.4.8
jedi==0.18.1
jinja2==2.11.3
joblib==1.1.0
jpeg==9e
json5==0.9.6
jsonschema==4.4.0
jupyter_client==7.2.2
jupyter_core==4.10.0
jupyter_server==1.18.1
jupyterlab==3.4.4
jupyterlab_pygments==0.1.2
jupyterlab_server==2.10.3
keras-base==2.4.3
keras-preprocessing==1.1.2
keras==2.13.1
kiwisolver==1.4.4
labelimg==1.8.6
lap==0.4.0
lazy-loader==0.2
libblas==3.9.0
libcblas==3.9.0
libclang==13.0.0
libcurl==7.84.0
liblapack==3.9.0
liblapacke==3.9.0
libopencv==4.5.1
libpng==1.6.37
libprotobuf==3.14.0
libsodium==1.0.18
libssh2==1.10.0
libtiff==4.2.0
libuv==1.44.2
libwebp-base==1.2.4
libwebp==1.2.4
lightning-utilities==0.9.0
loguru==0.7.0
lxml==4.9.2
lz4-c==1.9.3
m2w64-bwidget==1.9.10
m2w64-bzip2==1.0.6
m2w64-expat==2.1.1
m2w64-fftw==3.3.4
m2w64-flac==1.3.1
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gettext==0.19.7
m2w64-gmp==6.1.0
m2w64-gsl==2.1
m2w64-libiconv==1.14
m2w64-libjpeg-turbo==1.4.2
m2w64-libogg==1.3.2
m2w64-libpng==1.6.21
m2w64-libsndfile==1.0.26
m2w64-libtiff==4.0.6
m2w64-libvorbis==1.3.5
m2w64-libwinpthread-git==5.0.0.4634.697f757
m2w64-libxml2==2.9.3
m2w64-mpfr==3.1.4
m2w64-openblas==0.2.19
m2w64-pcre==8.38
m2w64-speex==1.2rc2
m2w64-speexdsp==1.2rc3
m2w64-tcl==8.6.5
m2w64-tk==8.6.5
m2w64-tktable==2.10
m2w64-wineditline==2.101
m2w64-xz==5.2.2
m2w64-zlib==1.2.8
markdown==3.3.4
markupsafe==2.0.1
matplotlib-inline==0.1.2
matplotlib==3.5.3
mistune==0.8.4
mkl-service==2.4.0
mkl==2021.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
ml-dtypes==0.1.0
mpmath==1.2.1
msys2-conda-epoch==20160418
multidict==5.1.0
nbclassic==0.3.5
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==3.0
ninja-base==1.10.2
ninja==1.11.1
nltk==3.6.2
notebook==6.4.12
numexpr==2.8.3
numpy==1.23.3
oauthlib==3.2.0
onnxruntime==1.12.1
opencv-python-headless==4.7.0.72
opencv-python==4.6.0.66
opencv==4.5.1
openssl==1.1.1u
opt_einsum==3.3.0
packaging==21.3
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
pillow==9.2.0
pip==22.1.2
prometheus_client==0.14.1
prompt-toolkit==3.0.20
protobuf==4.23.4
pure_eval==0.2.2
py-opencv==4.5.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyclipper==1.3.0.post4
pycparser==2.21
pygments==2.11.2
pyjwt==2.4.0
pymongo==3.12.0
pyopenssl==22.0.0
pyparsing==3.0.4
pyqt5-qt5==5.15.2
pyqt5-sip==12.11.0
pyqt5==5.15.7
pyreadline3==3.4.1
pyrsistent==0.18.0
pysocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-fastjsonschema==2.15.1
python-flatbuffers==1.12
python-tzdata==2021.1
python==3.9.12
python_abi==3.9
pytorch-lightning==2.0.4
pytorch==1.12.1
pytz==2022.1
pywavelets==1.4.1
pywin32==302
pywinpty==2.0.2
pyyaml==6.0
pyzmq==23.2.0
qt==5.12.9
qudida==0.0.4
r-base==3.6.1
r-modules==0.8.0
re2==2022.04.01
regex==2022.7.9
requests-oauthlib==1.3.0
requests==2.28.1
rsa==4.7.2
scikit-image==0.20.0
scikit-learn==1.1.1
scipy==1.7.0
seaborn==0.12.0
send2trash==1.8.0
setuptools==61.2.0
shapely==2.0.1
six==1.16.0
snappy==1.1.9
sniffio==1.2.0
sns==0.1
soupsieve==2.3.1
split-folders==0.5.1
sqlite==3.39.2
sqlparse==0.4.3
stack_data==0.2.0
sympy==1.11.1
tabulate==0.8.10
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.13.0
tensorflow-base==2.5.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow==2.13.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.6.0
threadpoolctl==2.2.0
tifffile==2023.4.12
tk==8.6.12
torchmetrics==1.0.0
torchvision==0.13.1
tornado==6.1
tqdm==4.65.0
traitlets==5.1.1
typing-extensions==4.7.1
tzdata==2022a
urllib3==1.26.11
vc==14.2
vs2015_runtime==14.27.29016
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
werkzeug==2.0.3
wheel==0.35.1
win32_setctime==1.1.0
win_inet_pton==1.1.0
wincertstore==0.2
winpty==0.4.3
wrapt==1.14.1
xz==5.2.6
yaml==0.2.5
yarl==1.6.3
zeromq==4.3.4
zipp==3.8.0
zlib==1.2.13
zstd==1.5.2
